.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image {
    flex: 1;
    text-align: left;
    margin-left: 70px;
    padding: 145px 110px 120px 130px;
}

.image img {
    width: 300px;
    height: auto;
    object-fit: contain;
}

.text {
    flex: 1;
    text-align: left;
}
