body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #007bff; /* 파란색 배경 */
}

.overlay-text {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-text2{
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}