/* gallery.css */

main {
    display: flex; /* Flexbox를 사용하여 이미지들을 정렬 */
    flex-wrap: wrap; /* 화면 크기에 따라 이미지들이 줄바꿈되도록 설정 */
    margin: 0; /* 메인 영역의 여백을 제거 */
    padding: 0; /* 패딩 제거 */
}

.imgzip {
    flex: 1 0 18%; /* 각 이미지의 크기를 21%로 설정, 여유 공간에 따라 크기를 늘리거나 줄임 */
    margin: 10px; /* 이미지 사이의 여백을 제거 */

}

.imgzip img {
    width: 100%; /* 이미지 너비를 컨테이너 너비에 맞춤 */

}
