/* gallery.css */


main {
    display: grid; /* Grid 레이아웃을 사용하여 이미지를 정렬 */
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); /* 자동으로 열을 생성하며 최소 너비는 200px */
    grid-auto-rows: auto; /* 행 높이를 자동으로 조절 */
    gap: 10px; /* 이미지 사이의 여백을 0으로 설정 */
    margin: 20px;
   
}

.imgzip {
    position: relative;
    width: 100%;
   
}

.imgzip img {
    
    width: 100%; /* 이미지 너비를 컨테이너 너비에 맞춤 */
    height: auto; /* 이미지 높이를 자동으로 조절하여 비율 유지 */
    display: block; /* 이미지의 하단 여백 제거 */
}
