body, h1, p {
    margin: 0;
    padding: 0;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000; 
    padding: 10px 0;
}

.navbar nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar nav ul li {
    margin: 0 15px;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding-top: 60px; 
}


section {
    padding: 60px 20px;
    margin: 10px 0;
    background: #f4f4f4;
}

section h1 {
    margin-bottom: 20px;
}